<h1 mat-dialog-title>Edit Loan</h1>
<div mat-dialog-content>
  <form #editLoanForm="ngForm">
    <mat-form-field>
      <mat-label>User ID</mat-label>
      <input matInput [(ngModel)]="data.loan.userId" name="userId" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Book ID</mat-label>
      <input matInput [(ngModel)]="data.loan.bookId" name="bookId" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Loan Date</mat-label>
      <input matInput [(ngModel)]="data.loan.loanDate" name="loanDate" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Return Date</mat-label>
      <input matInput [(ngModel)]="data.loan.returnDate" name="returnDate" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>